In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('dataKmean.csv')
data.head(2)

   Gender   Country  Age  Year  Similarity
0    Male  Pakistan   23  1997           0
1  Female  Pakistan   19  2001           1

In [3]:
Gender_new = []

for element in data['Gender']:
    if element == 'Male':
        Gender_new.append(0)
    else:
        Gender_new.append(1)
        
Gender_new

[0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0]

In [4]:
from sklearn import preprocessing

In [5]:
le = preprocessing.LabelEncoder()

In [6]:
le.fit(data['Country'])

LabelEncoder()

In [7]:
le.classes_

array(['America', 'Pakistan', 'Turkey'], dtype=object)

In [8]:
Country_new =[]
Country_new =le.transform(data['Country'])

In [9]:
type(Country_new)

numpy.ndarray

In [10]:
type(Gender_new)

list

In [11]:
dict_data = {'Gender':Gender_new, 'Country':Country_new,'Similarity': data['Similarity']}

In [12]:
dict_data

{'Gender': [0,
  1,
  0,
  1,
  0,
  1,
  0,
  0,
  0,
  1,
  1,
  0,
  0,
  1,
  0,
  1,
  1,
  1,
  0,
  0,
  1,
  0,
  1,
  1,
  0,
  0,
  0,
  1,
  0,
  1,
  0,
  0,
  0,
  1,
  1,
  0,
  1,
  1,
  0,
  0,
  1,
  1,
  0,
  0,
  1,
  1,
  0,
  0,
  1,
  0,
  1,
  1,
  1,
  0,
  0,
  1,
  0,
  0,
  1,
  0,
  1,
  0,
  0,
  1,
  1,
  1,
  0,
  0,
  1,
  0,
  1,
  0,
  1,
  0,
  1,
  0,
  1,
  0,
  1,
  0,
  1,
  0,
  1,
  0,
  1,
  0,
  1,
  1,
  1,
  0,
  0,
  0,
  1,
  0,
  1,
  1,
  0,
  0,
  1,
  1,
  0,
  0,
  1,
  0],
 'Country': array([1, 1, 0, 2, 0, 1, 1, 0, 2, 2, 1, 0, 2, 1, 1, 1, 1, 2, 0, 1, 1, 2,
        0, 2, 1, 0, 1, 1, 1, 2, 1, 1, 2, 1, 0, 2, 1, 1, 1, 0, 2, 1, 0, 1,
        2, 1, 1, 1, 0, 1, 1, 2, 2, 1, 1, 2, 1, 1, 0, 0, 1, 1, 1, 2, 1, 0,
        1, 1, 1, 0, 2, 0, 1, 1, 2, 0, 1, 1, 2, 2, 0, 0, 1, 1, 2, 0, 1, 1,
        0, 2, 1, 1, 2, 0, 1, 0, 1, 0, 1, 0, 1, 2, 1, 1]),
 'Similarity': 0      0
 1      1
 2      1
 3      0
 4      0
       ..
 99     0
 100    0
 101    1
 102    1
 103    1
 Name: Similarity, Length: 104, dtype: int64}

In [13]:
dict_data = pd.DataFrame(dict_data)

In [14]:
dict_data

     Gender  Country  Similarity
0         0        1           0
1         1        1           1
2         0        0           1
3         1        2           0
4         0        0           0
..      ...      ...         ...
99        1        0           0
100       0        1           0
101       0        2           1
102       1        1           1
103       0        1           1

[104 rows x 3 columns]

In [15]:

from sklearn.model_selection import train_test_split
train,test = train_test_split(dict_data, shuffle=False)

In [16]:
train

    Gender  Country  Similarity
0        0        1           0
1        1        1           1
2        0        0           1
3        1        2           0
4        0        0           0
..     ...      ...         ...
73       0        1           1
74       1        2           1
75       0        0           1
76       1        1           1
77       0        1           1

[78 rows x 3 columns]

In [17]:
test

     Gender  Country  Similarity
78        1        2           1
79        0        2           1
80        1        0           1
81        0        0           1
82        1        1           1
83        0        1           1
84        1        2           1
85        0        0           1
86        1        1           1
87        1        1           1
88        1        0           0
89        0        2           1
90        0        1           0
91        0        1           0
92        1        2           1
93        0        0           1
94        1        1           0
95        1        0           0
96        0        1           0
97        0        0           1
98        1        1           1
99        1        0           0
100       0        1           0
101       0        2           1
102       1        1           1
103       0        1           1

In [18]:
from sklearn.cluster import KMeans

In [19]:
kmeans = KMeans(n_clusters=3)
kmeans=kmeans.fit(train)

In [20]:
kmeans.labels_

array([0, 1, 0, 2, 0, 1, 0, 0, 2, 2, 1, 0, 2, 1, 0, 1, 1, 2, 0, 0, 1, 2,
       1, 2, 0, 0, 0, 1, 0, 2, 0, 0, 2, 1, 1, 2, 1, 1, 0, 0, 2, 1, 0, 0,
       2, 1, 0, 0, 1, 0, 1, 2, 2, 0, 0, 2, 0, 0, 1, 0, 1, 0, 0, 2, 1, 1,
       0, 0, 1, 0, 2, 0, 1, 0, 2, 0, 1, 0])

In [21]:
predicted_score = kmeans.predict(test)
predicted_score

array([2, 2, 1, 0, 1, 0, 2, 0, 1, 1, 1, 2, 0, 0, 2, 0, 1, 1, 0, 0, 1, 1,
       0, 2, 1, 0])