In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [2]:
dataset = pd.read_csv('dataset.csv')

In [3]:
dataset.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
Y= dataset['quality']  
Y

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [5]:
dataset.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [6]:

X = pd.concat([dataset['fixed acidity'], dataset['volatile acidity'], dataset['citric acid']],axis=1)
X

      fixed acidity  volatile acidity  citric acid
0               7.4             0.700         0.00
1               7.8             0.880         0.00
2               7.8             0.760         0.04
3              11.2             0.280         0.56
4               7.4             0.700         0.00
...             ...               ...          ...
1594            6.2             0.600         0.08
1595            5.9             0.550         0.10
1596            6.3             0.510         0.13
1597            5.9             0.645         0.12
1598            6.0             0.310         0.47

[1599 rows x 3 columns]

In [7]:
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
lm = linear_model.LinearRegression()

In [8]:
model = lm.fit(X,Y)

In [9]:
predictions = lm.predict(X)
predictions

array([5.33124462, 5.02256255, 5.23079246, ..., 5.64346463, 5.40250673,
       5.97759263])

In [10]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X, Y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [12]:
predictions = classifier.predict(X)
predictions

array([5, 5, 5, ..., 6, 5, 6], dtype=int64)

In [14]:
X

      fixed acidity  volatile acidity  citric acid
0               7.4             0.700         0.00
1               7.8             0.880         0.00
2               7.8             0.760         0.04
3              11.2             0.280         0.56
4               7.4             0.700         0.00
...             ...               ...          ...
1594            6.2             0.600         0.08
1595            5.9             0.550         0.10
1596            6.3             0.510         0.13
1597            5.9             0.645         0.12
1598            6.0             0.310         0.47

[1599 rows x 3 columns]

In [17]:
pred1 = lm.predict([[6,0.7,.5]])
pred2 = classifier.predict([[6,0.7,.5]])

In [18]:
print(pred1,pred2)

[5.29573139] [6]

# MEAN

In [24]:
dataset['fixed acidity'] 
sum = dataset['fixed acidity'].sum() 

count = dataset['fixed acidity'].count() 
print(sum) 
print(count) 
print(sum/count)

13303.1
1599
8.31963727329581