In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Dataset.csv')

In [3]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
data['residual sugar'].sum()

4059.55

In [5]:
data['residual sugar'].count()

1599

In [6]:
mean = data['residual sugar'].sum()/data['residual sugar'].count()
mean

2.53880550343965

In [7]:
sum_var =0
list = [1,2,3,4,5]
for var in data['residual sugar']:
    sum_var = sum_var +  var
length = 0
for var in data['residual sugar']:
    length = length +1

In [8]:
sum_var

4059.550000000003

In [9]:
length

1599

In [10]:
sum_var/length

2.5388055034396517

In [11]:
gm = 1

for var in data['residual sugar']:
    if var ==0:
        gm =gm
    else:
        gm = gm*var
gm

inf

In [12]:
data = pd.read_excel('mean.xlsx')

In [13]:
data.head()

   Column
0       1
1       2
2       3
3       4
4       5

In [14]:
gm = 1

for var in data['Column']:
    gm = var*gm
length = 0  
for var in data['Column']:
    length =length +1
gm

720

In [15]:
import math

gm **(1/length)

2.993795165523909

In [16]:
reci = 0
for var in data['Column']:
    reci = 1/var + reci
reci
length/reci

2.4489795918367347

In [17]:
# p/t* log(p/t)

In [25]:
rm = data['Column'][0]
trm = 0
for i in range( len(data) -1):
    rm = rm + data['Column'][i+1]
    print(rm)
    if i%2 == 0:
        trm = trm +  rm/2
        rm =0
    
print(rm)
print(trm)

3
3
7
5
11
0
10.5